.outerMargin{
  margin: 5px;
}

.bottomText{
  position: absolute;
  text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
  font-style: italic;
  color: black;
  bottom: 3px;
  right: 10px;
}
