@use 'scss/variables.module';

.textRowContainer{
  display: flex;
  margin-bottom: 0.3em;
}

.divider{
  display: inline-block;
  width: 0.2em;
  background-color: variables.$baSettingsLabelDividerColor;
  margin: 0 0.7em 0 0;
}

.label{
  color: variables.$baSettingsLabelTextColor;
  font-size: 1.1em;
  font-weight: 450;
}
