@use 'scss/flexbox.module';
@use 'scss/variables.module';

.cardWrapper{
}


.allDropsWrapper{
  display: flex;
}

.campaignName{
  margin-right: 0.2em;
  color: #2d4665;
}

.campaignHeader {
  align-items: center;
  margin-bottom: 1rem;
}

.noSelection{
  user-select: none;
}
