@use 'scss/flexbox.module';
@use 'scss/layout.module';

.selectedPiecesWrapper{
  @include layout.bui-option-child-content-margin;
}

.selectedPiecePaper{
  padding: 8px 15px 8px 15px;
  @include flexbox.flex-center('column');
}

.countOnCard{
  margin-top: 0.35em;
}

//TODO(edwardez): figure out a proper way
//to fix https://mui.com/material-ui/guides/interoperability/#css-modules
.addButton.addButton.addButton{
  margin-left: 1em;
  align-self: center;
}
