@use 'scss/flexbox.module';

.selectedPiecesWrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0.3em 0.3em 1em 0.3em;
}

.selectedPiecesCard{
  margin: 5px;
}

.selectedPiecePaper{
  padding: 8px 15px 8px 15px;
  @include flexbox.flex-center('column');
}

.countOnCard{
  margin-top: 0.35em;
}

.addButton{
  margin-left: 1em;
  align-self: center;
}
