

.selectionWrapper.selectionWrapper.selectionWrapper{
   display: flex;
   align-content: center;
   align-items: center;

   user-select: none;

   >:not(:last-child){
      margin-right: 1em;
   }

   > *{
      margin-top: 1em;
   }
}
